body {
  background: #eee;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
header {
  text-align: center;
  margin: 5% auto 2%;
}
h1 {
  font-size: 3rem;
}
figure {
  text-align: center;
  background: #fff;
  margin: 0 2% 1%;
}
img {
    display: block;
  margin: 0 auto;
  padding-top: 20px;
  width: 95%;
  max-width: 784.31px;
}
figcaption {
  padding: 10px;
}
section {
  text-align: center;
  width: 640px;
  margin: 5% auto;
}
ul{
    margin-bottom: 50px;
}
li {
  letter-spacing: 0.5px;
  text-align: left;
  margin: 20px;
  line-height: 1.5;
}
h2 {
  font-size: 1.1rem;
  margin: 40px 0 40px;
}
section p {
  text-align: left;
  font-style: italic;
  margin: 50px 10px;
  padding-left: 40px;
  letter-spacing: 0.7px;
  line-height: 1.5;
}
h3 {
  text-align: center;
  margin: 20px 10px 40px;
}
@media (max-width: 640px) {
  section {
    width: 95vw;
  }
  section p{
      padding-left: 0;
  }
  ul{
      padding-left: 20px;
  }
}

